gdice
*.o
tags
src/de.tab.*
src/lex.yy.c
build/
src/prefix
src/.deps
stamp-h1
missing
install-sh
depcomp
configure.scan
compile
aclocal.m4
configure
Makefile
*.status
*.log
*.in*
config.h
autom4te.cache
res/#gdice.glade#
res/gdice.glade~
