gdice
*.o
tags
src/de.tab.*
src/lex.yy.c
build/
src/prefix
src/.deps
stamp-h1
missing
install-sh
depcomp
configure.scan
compile
aclocal.m4
configure
Makefile
*.status
*.log
*.in*
config.h
autom4te.cache
res/#gdice.glade#
res/gdice.glade~
res/*.valid
po/Makevars.template
po/POTFILES
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/fi.gmo
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sin
po/stamp-it
ABOUT-NLS
config.guess
config.rpath
config.sub
